* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#header {
  background-color: #FFFFFF;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 120px;
  align-items: center;
}

.header-container .logo {
  width: 139px;
  height: 60px;
  margin: 16px 345px 16px 120px;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 34px 345px 34px 0px;
}

.menu-nav li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  text-align: left;
  text-transform: capitalize;
}

.header-btn {
  margin: 24px 120px 24px 0px;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background-color: #30B868;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#hero{
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-container{
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero-span {
  margin-top: 70px;
  margin-bottom: 16px;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #30B868;
  text-align: center;

  background: rgba(255, 255, 255, 1);
  border-radius: 1000px;
  width: fit-content;}

  .hero-heading{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
  }
  .hero-heading span{
    color: rgba(48, 184, 104, 1);
  }

  .hero-text{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
  }

  .hero-button{
    margin-bottom: 134px;
display: flex;
  gap: 18px;

  }

  .btn-1{
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: rgba(255, 255, 255, 1);
  stroke: 1px;
  background: transparent;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 1);

  }