* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#header {
  background-color: #FFFFFF;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 120px;
  align-items: center;
}

.header-container .logo {
  width: 139px;
  height: 60px;
  margin: 16px 345px 16px 120px;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 34px 345px 34px 0px;
}

.menu-nav li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  text-align: left;
  text-transform: capitalize;
}

.header-btn {
  margin: 24px 120px 24px 0px;
}

.btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background-color: #30B868;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#hero {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.hero-span {
  margin-top: 70px;
  margin-bottom: 16px;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #30B868;
  text-align: center;

  background: rgba(255, 255, 255, 1);
  border-radius: 1000px;
  width: fit-content;
}

.hero-heading {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

.hero-heading span {
  color: rgba(48, 184, 104, 1);
}

.hero-text {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-button {
  margin-bottom: 134px;
  display: flex;
  gap: 18px;

}

.btn-1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: rgba(255, 255, 255, 1);
  stroke: 1px;
  background: transparent;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 1);

}

.second-section {
  background-color: #ffffff;
}

.second-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.second-header {
  text-align: center;
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 40px;
}

.second-header h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
  line-height: 58px;
}

.second-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #6b7280;
  margin-bottom: 44px;
}

.second-box {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.second-box .second-card {
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.icon {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.icon img {
  color: rgba(255, 255, 255, 1);
  width: 32px;
  height: 32px;
}

.second-card h3 {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;
  width: 274px;
  margin-bottom: 16px;
}

.second-card p {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 274px;
}

.solution-section {
  background-color: #ffffff;
}

.solution-container {
  padding: 120px;
  width: 1360px;
  display: flex;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
}

.solution-image{
  flex: 1;
}

.solution-image img {
  max-width: 600px;
  display: block;
}

.solution-content span{
  display: inline-block;
  color: #30B868;
  width: 700px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-top: 102px;
  margin-bottom: 16px;
}
.solution-content h2{
  display: inline-block;
  color: #001931;
  width: 700px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.solution-content p{
  display: inline-block;
  color: #627382;
  width: 700px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 40px;
}

.solution-list li{
  display: inline-block;
  list-style: none;
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.cta-section{
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 0px 120px 120px 120px;
}

.cta-container{
  background-color: rgba(247, 246, 242, 1);
  padding: 80px 40px;
}

.cta-container h2{
  color: rgba(0, 25, 49, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.cta-container p{
  color: #627382, rgba;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.cta-btn{
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background-color: #30B868;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 16px;
}
 .cta-container .cta-note{
  color: #627382, rgba;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}

